/* header */

.header-div {
  height: 250px;
  width: 100%;
  background-image: url("../../assets/backgroundBook.jpg");
  background-size: cover;
  text-align: center;
  display: flex;
  justify-items: center;
  flex-direction: column;
  opacity: 85%;
  margin: 0;
}

.header-title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0 20px 0;
}

.header-search {
  /* width: 200px; */
  margin: 0 auto;
  display: flex;
  margin-bottom: 40px;
}

.input-search {
  width: 450px;
  height: 40px;
  border: none;
  padding-left: 5px;
  outline: none;
}

.header-searchButton {
  display: inline;
  margin-left: -5px;
  border: 1px;
  background-color: white;
  background-image: url("../../assets/searchIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  background-position: center;
}

.header-sort {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.categories-div,
.sorting-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px 0 10px;
}

.header-sortText {
  font-size: 15px;
  font-weight: 400;
  color: white;
  margin: 0 10px 0 10px;
  width: 100px;
}

.header-select {
  width: 300px;
  height: 35px;
  outline: none;
}

@media (max-width: 885px) {
  .header-div {
    height: fit-content;
    padding-bottom: 10px;
  }
  .header-sort {
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
}

@media (max-width: 550px) {
  .header-search {
    width: 85%;
  }
}

@media (max-width: 445px) {
  .header-search {
    width: 85%;
  }
  .categories-div,
  .sorting-div {
    width: 85%;
    flex-direction: column;
  }
  .header-select {
    width: 85%;
  }
}
